<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar - Teyvat Helper</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-4 px-6">id</th>
                    <th scope="col" class="py-4 px-6">avatar id</th>
                    <th scope="col" class="py-4 px-6">born time</th>
                    <th scope="col" class="py-4 px-6">flycloak id</th>
                    <th scope="col" class="py-4 px-6">life state</th>
                    <th scope="col" class="py-4 px-6">skill depot id</th>
                    <th scope="col" class="py-4 px-6">skill levels</th>
                    <th scope="col" class="py-4 px-6">skill extra levels</th>
                    <th scope="col" class="py-4 px-6">equip id list</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <script>
        var avatarMap = {}
        const toID = (guid) => Number(BigInt(guid) & BigInt(0xFFFFFFFF));
        const updateAvatarMap = async () => {
            const response = await fetch('/api/avatar', { method: 'GET' });
            const items = await response.json();
            items.forEach(avatar => {
                var proudSkillExtraLevelMap = avatar.data.proudSkillExtraLevelMap
                var p = '<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">'
                p += '<td class="py-3 px-6">' + avatar.id + '</td>'
                p += '<td class="py-3 px-6">' + avatar.data.avatarId + '</td>'
                p += '<td class="py-3 px-6">' + avatar.data.bornTime + '</td>'
                p += '<td class="py-3 px-6">' + avatar.data.wearingFlycloakId + '</td>'
                p += '<td class="py-3 px-6">' + avatar.data.lifeState + '</td>'
                p += '<td class="py-3 px-6">' + avatar.data.skillDepotId + '</td>'
                p += '<td class="py-3 px-6 whitespace-pre">' + JSON.stringify(avatar.data.skillLevelMap, null, 4) + '</td>'
                p += '<td class="py-3 px-6 whitespace-pre">' + (proudSkillExtraLevelMap ? JSON.stringify(proudSkillExtraLevelMap, null, 4) : '') + '</td>'
                p += '<td class="py-3 px-6 whitespace-pre">' + JSON.stringify(avatar.data.equipGuidList.map(x => toID(x)), null, 4) + '</td>'
                p += '</tr>';
                document.getElementById("tbody").insertAdjacentHTML("beforeend", p);
            });
        }
        updateAvatarMap()
    </script>
</body>

</html>